XML/schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="Dice">
    <xs:sequence>
      <xs:element name="minValue" type="xs:int"/>
      <xs:element name="maxValue" type="xs:int"/>
      <xs:element name="actValue" type="xs:int"/>
      <xs:element name="statistics" type="xs:int" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

